$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"; // bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss"; // endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.footer,
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer,
  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/**Custom CSS Written **/
.come-in {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.already-visible {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.contact-list {
  background-color: #F2F1F2;
  padding: 40px;
}
.card {
  overflow: hidden;
  padding: 10px;
  .card-border {
    background-color: white;
    border: 1px solid #eee;
    padding: 10px;
  }
  .content {
    height: 271px;
    position: relative;
    .card-details {
      background-color: white;
      position: absolute;
      bottom: 0;
      z-index: 10;
      width: 100%;
    }
    .content-ellipsis {
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
    }
    .show-on-hover {
      display: none;
    }
  }
  .content:hover {
    .show-on-hover {
      display: block !important;
    }
    .content-ellipsis{
      white-space: initial;
    }
  }
  .card-img {
    height: 230px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
