<div class="come-in card col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
  <div class="card-border">
  <div class="content">
    <div class="card-img">
      <img src="{{contact.profile_image}}"></img>
    </div>
    <div class="card-details">
      <h4 class="name content-ellipsis no-mg-b">
      {{contact.name}}
      </h4>
      <span class="title content-ellipsis"><span ng-if="contact.job">{{contact.job}} | </span> @ {{contact.company_name}}</span>
      <span class="phone show-on-hover">Phone Number: {{contact.phone}}</span>
      <a href="mailto:{{contact.email}}" class="show-on-hover email">{{contact.email}}</a>
    </div>
  </div>
  </div>
</div>
